.social {

  &__container {
    padding-top: 100px;
    padding-bottom: 84px;
  }

  &__title {
    color: $red;
    font-size: 3.2rem;
    font-weight: 600;
    // line-height: 7px;
    margin-bottom: 40px;
  }
  &__links {
    display: flex;
    align-items: center;
  }
  &__link {
    display: inline-block;
    margin-right: 30px;
  }

  &__text {
    font-size: 2.4rem;
    line-height: 32px;
  }

  &__form  {
    margin-top: 49px;
  }
  &__input {
    width: 219px;
    height: 48px;
    padding-left: 14px;
    padding-right: 24px;
    margin-right: 21px;
    border: none;
    border-bottom: 1px solid $red;
    line-height: 26px;
    box-shadow: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.9rem;
    letter-spacing: 0.38px;
  }
  &__submit  {
    border: none;
    box-shadow: none;
    height: 48px;
    border-radius: 48px;
    line-height: 26px;
    min-width: 294px;
    box-shadow: 0 6px 20px 4px rgba($color: #000000, $alpha: 0.24);
    background: $red;
    color: #ffffff;
    letter-spacing: 0.09px;
    font-size: 1.8rem;
    font-weight: 600;
  }
}
