.menu {
  width: 38px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;

  &__line {
    background-color: $red;
    height: 4px;
    width: 100%;
    display: block;
  }
}

.main-nav {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 755px;
    height: 1px;
    background-color: #fff;
    opacity: 0.2;
    left: 15px;
    bottom: 0;
  }

  &__list {
    display: flex;
  }

  &__item {
    list-style: none;
    margin-right: 20px;
  }

  &__link {
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 44px;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
