mixin category-panel()

  .category-panel
    ul.category-panel__type-list
      li.category-panel__type-item
        a.category-panel__type-link(href="#")
          | Лазерные станки
      li.category-panel__type-item
        a.category-panel__type-link(href="#")
          | Лазерные маркеры
      li.category-panel__type-item
        a.category-panel__type-link(href="#")
          | Фрезерные станки
