mixin page-header()

  header.page-header.red-circle
    .page-header__container.container
      .page-header__top-head.row
        .page-header__logo.col-2
          img(src="img/cnced-logo-black.png", alt="cnced")

        +main-nav()

        .col-4.page-header__contacts
          a.page-header__phone(href="tel:+78123099804") +7 (812) 309-98-04
          button.btn.page-header__callback Перезвонить?

        a.col-1.page-header__compare(href="#")
          svg(width="20" height="20")

        a.col-3.page-header__order(href="#")
          svg(width="20" height="20")
          | Оформить заказ

      .page-header__bottom-head.row
        ul.col-10.page-header__category-list
          li.page-header__category-item
            a.page-header__category-link(href="#")
              | Лазерные станки
          li.page-header__category-item
            a.page-header__category-link(href="#")
              | Лазерные маркеры
          li.page-header__category-item
            a.page-header__category-link(href="#")
              | Фрезерные станки
          li.page-header__category-item
            a.page-header__category-link(href="#")
              | Комплектующие

        form.offset-4.col-2.page-header__search(action="#")
          input.page-header__input(type="search" placeholder="Поиск")
          button(type="submit")
            svg(width="20" height="20")

    +promo()
