.page-header {
  padding-top: 57px;

  &__container {

  }

  &__top-head {

  }

  &__bottom-head {
    padding-top: 15px;
  }

  &__contacts {

  }

  &__phone {
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 44px;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__callback {
    color: #ffffff;
    border: none;
    box-shadow: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 1.4rem;
    line-height: 44px;
  }

  &__order {
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 44px;
    height: 44px;
    background-color: #ac3737;
    border-radius: 44px;
    text-align: center;
    outline: transparent;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }

    &:focus {
      box-shadow: 0 0 0 1px rgb(77, 144, 254);
    }
  }

  &__logo {
    width: 120px;
    height: 36px;
  }

  &__logo img {
    object-fit: contain;
  }

  &__category-list {
    display: flex;
  }

  &__category-item {
    list-style: none;
    margin-right: 35px;
  }

  &__category-link {
    color: #ffffff;
    font-size: 1.8rem;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__search {

    & button {
      width: 20px;
      height: 20px;
      // border: none;
      box-shadow: none;
      background-color: transparent;
    }
  }

  &__input {
    background-color: transparent;
    border: none;
    width: 80%;
    color: #232323;
    font-size: 1.8rem;
  }

  &.red-circle {
    background-image: url("../img/bg_red_circle.svg");
    background-repeat: no-repeat;
    background-position: -647px -882px;
  }
}
