mixin last-seen()

  section.last-seen
    .last-seen__container.container
      .row.last-seen__row
        h2.last-seen__title.col-6
          | Вы недавно смотрели:

      .row
        .last-seen__card.col-4
          .last-seen-card
            a.last-seen-card__compare-link(href="#")
              i.last-seen-card__compare-icon.compare-icon--small
              | К сравнению
            img.last-seen-card__photo(src="img/wattsan_6090lt.jpg", alt="WATTSAN 6090 LT.jpg", width="190", height="184")
            a.last-seen-card__category(href="#")
              | Лазерный станок
            h3.last-seen-card__title
              | Wattsan 6090 lt
            a.last-seen-card__order(href="#")
              i.last-seen-card__order-icon.delivery-truck--small
        .last-seen__card.col-4
          .last-seen-card
            a.last-seen-card__compare-link(href="#")
              i.last-seen-card__compare-icon.compare-icon--small
              | К сравнению
            img.last-seen-card__photo(src="img/wattsan_6090lt.jpg", alt="WATTSAN 6090 LT.jpg", width="190", height="184")
            a.last-seen-card__category(href="#")
              | Лазерный станок
            h3.last-seen-card__title
              | Wattsan 6090 lt
            a.last-seen-card__order(href="#")
              i.last-seen-card__order-icon.delivery-truck--small
        .last-seen__card.col-4
          .last-seen-card
            a.last-seen-card__compare-link(href="#")
              i.last-seen-card__compare-icon.compare-icon--small
              | К сравнению
            img.last-seen-card__photo(src="img/wattsan_6090lt.jpg", alt="WATTSAN 6090 LT.jpg", width="190", height="184")
            a.last-seen-card__category(href="#")
              | Лазерный станок
            h3.last-seen-card__title
              | Wattsan 6090 lt
            a.last-seen-card__order(href="#")
              i.last-seen-card__order-icon.delivery-truck--small
        .last-seen__card.col-4
          .last-seen-card
            a.last-seen-card__compare-link(href="#")
              i.last-seen-card__compare-icon.compare-icon--small
              | К сравнению
            img.last-seen-card__photo(src="img/wattsan_6090lt.jpg", alt="WATTSAN 6090 LT.jpg", width="190", height="184")
            a.last-seen-card__category(href="#")
              | Лазерный станок
            h3.last-seen-card__title
              | Wattsan 6090 lt
            a.last-seen-card__order(href="#")
              i.last-seen-card__order-icon.delivery-truck--small

