mixin category()

  section.category
    .category__container.container
      .row
        .category__type.col-7
          h2.category__title
            | Какое оборудование вас интересует?
          ul.category__type-list
            li.category__type-item
              a.category__type-link(href="#")
                | Лазерные станки
            li.category__type-item
              a.category__type-link(href="#")
                | Фрезерные станки
            li.category__type-item
              a.category__type-link(href="#")
                | Лазерные маркеры
            li.category__type-item
              a.category__type-link(href="#")
                | Комплектующие

        .category__material.col-6.offset-2
          h2.category__title
            | Какое материал нужно обработать?
          ul.category__material-list
            li.category__material-item
              a.category__material-link(href="#")
                | Дерево
            li.category__material-item
              a.category__material-link(href="#")
                | Резина
            li.category__material-item
              a.category__material-link(href="#")
                | Пэт
            li.category__material-item
              a.category__material-link(href="#")
                | Мех
            li.category__material-item
              a.category__material-link(href="#")
                | Картон и бумага
            li.category__material-item
              a.category__material-link(href="#")
                | Паронит
            li.category__material-item
              a.category__material-link(href="#")
                | Двухслойные пластики
            li.category__material-item
              a.category__material-link(href="#")
                | Кожа и кожзам
            li.category__material-item
              a.category__material-link(href="#")
                | Поликарбонат
            li.category__material-item
              a.category__material-link(href="#")
                | Мдф и дсп
            li.category__material-item
              a.category__material-link(href="#")
                | Фанера
            li.category__material-item
              a.category__material-link(href="#")
                | Полистерол
            li.category__material-item
              a.category__material-link(href="#")
                | Алюминий
            li.category__material-item
              a.category__material-link(href="#")
                | Камень
            li.category__material-item
              a.category__material-link(href="#")
                | Ткани
            li.category__material-item
              a.category__material-link(href="#")
                | Акрил и оргстекло
            li.category__material-item
              a.category__material-link(href="#")
                | Латунь
