mixin popular()

  section.popular
    .popular__container.container
      .row.popular__row
        h2.popular__title.col-6
          | Популярные товары

        ul.popular__category-list.col-10
          li.popular__category-item.popular__category-item--active
            a.popular__category-link(href="#")
              | Лазеры
          li.popular__category-item
            a.popular__category-link(href="#")
              | Фрезеры
          li.popular__category-item
            a.popular__category-link(href="#")
              | Маркеры
          li.popular__category-item
            a.popular__category-link(href="#")
              | Комплектующие
          li.popular__category-item
            a.popular__category-link.popular__category-link--all(href="#")
              | Весь каталог

      .row.popular__card-list
        .popular__card.col-sm-4
          .popular-card
            a.popular-card__compare-link(href="#")
              i.popular-card__compare-icon.compare-icon--small
              | К сравнению
            img.popular-card__photo(src="img/wattsan_6090lt.jpg", alt="WATTSAN 6090 LT.jpg", width="190", height="184")
            a.popular-card__category(href="#")
              | Лазерный станок
            h3.popular-card__title
              | Wattsan 6090 lt
            p.popular-card__description
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto blanditiis esse autem ducimus modi perferendis pariatur, suscipit temporibus illo doloribus fugiat cumque aspernatur optio molestiae quas doloremque veniam laudantium!
            p.popular-card__meta
              span.popular-card__meta-title Мощность, Вт
              span.popular-card__meta-separator
              span.popular-card__meta-val 80-90
            p.popular-card__meta
              span.popular-card__meta-title Рабочее поле, мм
              span.popular-card__meta-separator
              span.popular-card__meta-val 900х600
            .popular-card__footer
              span.popular-card__price
                | от 290 000 руб.
              a.popular-card__order(href="#")
                i.popular-card__order-icon.delivery-truck--white

        .popular__card.col-sm-4
          .popular-card
            a.popular-card__compare-link(href="#")
              i.popular-card__compare-icon.compare-icon--small
              | К сравнению
            img.popular-card__photo(src="img/wattsan_6090lt.jpg", alt="WATTSAN 6090 LT.jpg", width="190", height="184")
            a.popular-card__category(href="#")
              | Лазерный станок
            h3.popular-card__title
              | Wattsan 6090 lt
            p.popular-card__description
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto blanditiis esse autem ducimus modi perferendis pariatur, suscipit temporibus illo doloribus fugiat cumque aspernatur optio molestiae quas doloremque veniam laudantium!
            p.popular-card__meta
              span.popular-card__meta-title Мощность, Вт
              span.popular-card__meta-separator
              span.popular-card__meta-val 80-90
            p.popular-card__meta
              span.popular-card__meta-title Рабочее поле, мм
              span.popular-card__meta-separator
              span.popular-card__meta-val 900х600
            .popular-card__footer
              span.popular-card__price
                | от 290 000 руб.
              a.popular-card__order(href="#")
                i.popular-card__order-icon.delivery-truck--white

        .popular__card.col-sm-4
          .popular-card
            a.popular-card__compare-link(href="#")
              i.popular-card__compare-icon.compare-icon--small
              | К сравнению
            img.popular-card__photo(src="img/wattsan_6090lt.jpg", alt="WATTSAN 6090 LT.jpg", width="190", height="184")
            a.popular-card__category(href="#")
              | Лазерный станок
            h3.popular-card__title
              | Wattsan 6090 lt
            p.popular-card__description
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto blanditiis esse autem ducimus modi perferendis pariatur, suscipit temporibus illo doloribus fugiat cumque aspernatur optio molestiae quas doloremque veniam laudantium!
            p.popular-card__meta
              span.popular-card__meta-title Мощность, Вт
              span.popular-card__meta-separator
              span.popular-card__meta-val 80-90
            p.popular-card__meta
              span.popular-card__meta-title Рабочее поле, мм
              span.popular-card__meta-separator
              span.popular-card__meta-val 900х600
            .popular-card__footer
              span.popular-card__price
                | от 290 000 руб.
              a.popular-card__order(href="#")
                i.popular-card__order-icon.delivery-truck--white

        .popular__card.col-sm-4
          .popular-card
            a.popular-card__compare-link(href="#")
              i.popular-card__compare-icon.compare-icon--small
              | К сравнению
            img.popular-card__photo(src="img/wattsan_6090lt.jpg", alt="WATTSAN 6090 LT.jpg", width="190", height="184")
            a.popular-card__category(href="#")
              | Лазерный станок
            h3.popular-card__title
              | Wattsan 6090 lt
            p.popular-card__description
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto blanditiis esse autem ducimus modi perferendis pariatur, suscipit temporibus illo doloribus fugiat cumque aspernatur optio molestiae quas doloremque veniam laudantium!
            p.popular-card__meta
              span.popular-card__meta-title Мощность, Вт
              span.popular-card__meta-separator
              span.popular-card__meta-val 80-90
            p.popular-card__meta
              span.popular-card__meta-title Рабочее поле, мм
              span.popular-card__meta-separator
              span.popular-card__meta-val 900х600
            .popular-card__footer
              span.popular-card__price
                | от 290 000 руб.
              a.popular-card__order(href="#")
                i.popular-card__order-icon.delivery-truck--white
