mixin catalog-laser()

  section.catalog
    .catalog__container.container
      .row
        ul.bread.col-5
          li.bread__item
            a.bread__link(href="#") Главная
          li.bread__item
            span.bread__link.bread__link--current(href="#") Лазерные станки

      .row
        .catalog__sidenav.col-4
          .catalog__sidenav-block.range-slider
            h2.catalog__sidenav-title Цена
            p
              input.range-slider__input(type="text", id="amount")
              |  руб
              span —
              input.range-slider__input(type="text", id="amount_1")
              |  руб
            div.range-slider__line(id="slider-range")
            .range-slider__meta
              span.range-slider__min 900 руб
              span.range-slider__max 850 800 руб

          .catalog__sidenav-block
            h2.catalog__sidenav-title Материал
            ul.chips
              li.chips__item
                a.chips__link(href="#") дерево
                span.chips__remove x

          .catalog__sidenav-block
            h2.catalog__sidenav-title Бренд

          .catalog__sidenav-block
            h2.catalog__sidenav-title Размер стола

          .catalog__sidenav-block
            h2.catalog__sidenav-title Особенности применения

          .catalog__sidenav-question-block
            i.catalog__sidenav-question-icon.delivery-truck
            h2.catalog__sidenav-question-title
              | Есть вопросы?
            p.catalog__sidenav-question-text
              a(href="").catalog__sidenav-question-link Оставьте заявку,
              |  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, reprehenderit!

        .catalog__content.col-11.offset-1
          h1.catalog__title
            | Лазерные станки СО2

          p.catalog__description
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam porro magnam dolorum atque illo natus. Officia nihil porro hic dolores distinctio sequi fugit consequuntur nesciunt dicta rerum expedita, iusto illum debitis corporis et neque nemo itaque? Quo dolorem error aut! Neque ratione natus qui molestias culpa sit rem animi veniam?
          //- +category-panel()
          +filter()

          .catalog__content-grid.row
            +card()
            +card()
            +card()

            +card()
            +card()
            +card()

            +card()
            +card()
            +card()

            +card()
            +card()
            +card()

          +pagination()
