mixin catalog()

  section.catalog
    .catalog__container.container
      .row
        ul.bread.col-5
          li.bread__item
            a.bread__link(href="#") Главная
          li.bread__item
            span.bread__link.bread__link--current(href="#") Каталог

      .row
        .catalog__sidenav.col-4
          .catalog__sidenav-block.range-slider
            label.range-slider__label(for="amount") Цена
            p
              input.range-slider__input(type="text", id="amount")
              |  руб
              span —
              input.range-slider__input(type="text", id="amount_1")
              |  руб
            div.range-slider__line(id="slider-range")
            .range-slider__meta
              span.range-slider__min 900 руб
              span.range-slider__max 850 800 руб

          .catalog__sidenav-block
          .catalog__sidenav-block
          .catalog__sidenav-block
          .catalog__sidenav-block
          .catalog__sidenav-block
          .catalog__sidenav-block

        .catalog__content.col-11.offset-1
          h2.catalog__title
            | Что вы ищите?

          +category-panel()
          +filter()

          .catalog__content-grid.row
            +card()
            +card()
            +card()

            +card()
            +card()
            +card()

            +card()
            +card()
            +card()

            +card()
            +card()
            +card()

          +pagination()
