mixin catalog()

  section.catalog
    .catalog__container.container
      .row
        ul.bread.col-5
          li.bread__item
            a.bread__link(href="#") Главная
          li.bread__item
            span.bread__link.bread__link--current(href="#") Каталог

      .row
        .catalog__sidenav.col-4
          .catalog__sidenav-block.range-slider
            label.range-slider__label(for="amount") Цена
            p
              input.range-slider__input(type="text", id="amount")
              |  руб
              span —
              input.range-slider__input(type="text", id="amount_1")
              |  руб
            div.range-slider__line(id="slider-range")

          .catalog__sidenav-block
          .catalog__sidenav-block
          .catalog__sidenav-block
          .catalog__sidenav-block
          .catalog__sidenav-block
          .catalog__sidenav-block

        .catalog__content.col-10.offset-1
          h2.catalog__title
            | Доставка по г. Санкт-Петербург
          P.catalog__text
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates sit obcaecati reiciendis excepturi eum labore, temporibus et sunt doloremque beatae ad amet quos at accusamus tenetur! Modi praesentium debitis eos?
          P.catalog__text
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates sit obcaecati reiciendis excepturi eum labore, temporibus et sunt doloremque beatae ad amet quos at accusamus tenetur! Modi praesentium debitis eos?
          P.catalog__text
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates sit obcaecati reiciendis excepturi eum labore, temporibus et sunt doloremque beatae ad amet quos at accusamus tenetur! Modi praesentium debitis eos?

          h2.catalog__title
            | Доставка в г. Москва и регионы
          P.catalog__text
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates sit obcaecati reiciendis excepturi eum labore, temporibus et sunt doloremque beatae ad amet quos at accusamus tenetur! Modi praesentium debitis eos?
          .catalog__gallery
            img.catalog__gallery-item(src="img/delivers.jpg", alt="Перевозчики")
          P.catalog__text
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates sit obcaecati reiciendis excepturi eum labore, temporibus et sunt doloremque beatae ad amet quos at accusamus tenetur! Modi praesentium debitis eos?
