mixin page-header-white()

  header.page-header.white
    .page-header__container.container
      .page-header__top.row
        .page-header__logo.col-2
          picture
            source(srcset="img/cnced-logo-red.png"  media="(max-width: 480px)")
            source(srcset="img/cnced-logo-black.png"   media="(min-width: 481px)")
            img(srcset="img/cnced-logo-black.png" width="120" height="36" alt="cnced")

        nav.main-nav.page-header__main-nav.col-sm-6
          ul.main-nav__list
            li.main-nav__item
              a.main-nav__link(href="#", title="Доставка и оплата")
                | Доставка и оплата

            li.main-nav__item
              a.main-nav__link(href="#", title="Сервис")
                | Сервис

            li.main-nav__item
              a.main-nav__link(href="#", title="Статьи")
                | Статьи

            li.main-nav__item
              a.main-nav__link(href="#", title="Контакты")
                | Контакты

        .col-4.page-header__contacts
          a.page-header__phone(href="tel:+78123099804") +7 (812) 309-98-04
          button.btn.page-header__callback Перезвонить?

        a.col-1.page-header__compare(href="#")
          i.compare-icon

        a.col-3.page-header__order(href="#")
          i.page-header__order-icon.delivery-truck--white
          | Оформить заказ

      .page-header__bottom.row
        ul.col-10.page-header__category-list
          li.page-header__category-item
            a.page-header__category-link(href="#")
              | Лазерные станки
          li.page-header__category-item
            a.page-header__category-link(href="#")
              | Лазерные маркеры
          li.page-header__category-item
            a.page-header__category-link(href="#")
              | Фрезерные станки
          li.page-header__category-item
            a.page-header__category-link(href="#")
              | Комплектующие

        form.offset-4.col-2.page-header__search(action="#")
          input.page-header__input(type="search" placeholder="Поиск")
          button.page-header__submit(type="submit")
            i.loup-icon
