mixin service()

  section.service
    .service__container.container
      .row
        h2.service__title
          | Мы знаем все тонкости нашего оборудования

      .row
        .col-7
          h3.service__item-title
            | Обучение
          p.service__item-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minus tempore quia recusandae dicta perspiciatis beatae reiciendis illum sunt a porro ad aliquam repellat, pariatur quaerat debitis totam eius deleniti.

          h3.service__item-title
            | Комплектующие
          p.service__item-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minus tempore quia recusandae dicta perspiciatis beatae reiciendis illum sunt a porro ad aliquam repellat, pariatur quaerat debitis totam eius deleniti.

          h3.service__item-title
            | Ремонт и обслуживание
          p.service__item-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minus tempore quia recusandae dicta perspiciatis beatae reiciendis illum sunt a porro ad aliquam repellat, pariatur quaerat debitis totam eius deleniti.

        .col-7.offset-2
          ul.service__faq
            li.service__faq-item.active
              h3.service__faq-title
                | Какой станок выбрать?
              p.service__faq-text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minus tempore quia recusandae dicta perspiciatis beatae reiciendis illum sunt a porro ad aliquam repellat, pariatur quaerat debitis totam eius deleniti.

            li.service__faq-item.active
              h3.service__faq-title
                | Оказываете ли вы помощь в настройке купленных у вас лазерных станков?
              p.service__faq-text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minus tempore quia recusandae dicta perspiciatis beatae reiciendis illum sunt a porro ad aliquam repellat, pariatur quaerat debitis totam eius deleniti.

            li.service__faq-item
              h3.service__faq-title
                | На что обращать внимание при выборе лазерного станка?
              p.service__faq-text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minus tempore quia recusandae dicta perspiciatis beatae reiciendis illum sunt a porro ad aliquam repellat, pariatur quaerat debitis totam eius deleniti.

            li.service__faq-item
              h3.service__faq-title
                | Как провожится пусконаладка?
              p.service__faq-text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minus tempore quia recusandae dicta perspiciatis beatae reiciendis illum sunt a porro ad aliquam repellat, pariatur quaerat debitis totam eius deleniti.

            li.service__faq-item
              h3.service__faq-title
                | Как часто меняются расходные материалы лазерного станка?
              p.service__faq-text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minus tempore quia recusandae dicta perspiciatis beatae reiciendis illum sunt a porro ad aliquam repellat, pariatur quaerat debitis totam eius deleniti.

            li.service__faq-item
              h3.service__faq-title
                | Как часто ломаются ваши лазерные станки?
              p.service__faq-text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minus tempore quia recusandae dicta perspiciatis beatae reiciendis illum sunt a porro ad aliquam repellat, pariatur quaerat debitis totam eius deleniti.
