.cart {

  &__container {

  }
  &__content {

  }
  &__sidenav {
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.02);
    padding-left: 38px;
    padding-right: 40px;
    padding-top: 45px;
    padding-bottom: 53px;
    background-color: #fff;
  }
  &__sidenav-title {
    font-size: 1.8rem;
    color: #252525;
  }
  &__title {
    font-size: 2rem;
    color: #252525;
    line-height: 17px;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 96px;

    &:first-child {
      margin-top: 0;
    }
  }
}
