mixin cart()

  section.cart
    .cart__container.container
      .row
        ul.bread.col-5
          li.bread__item
            a.bread__link(href="#") Главная
          li.bread__item
            span.bread__link.bread__link--current(href="#") Информация

      .row
        h1.cart__title Вы выбрали:

      .row
        .cart__content.col-11
          .order-card
            .order-card__content
              .order-card__photo-wrap
                img.order-card__photo(src="img/wattsan_6090lt.jpg", alt="WATTSAN 6090 LT.jpg", width="242", height="235")

              .order-card__info
                a.order-card__category(href="#")
                  | Лазерный станок
                h2.order-card__title
                  | Wattsan 6090 lt

                span.order-card__mark
                  | новинка
                p.order-card__meta
                  span.order-card__meta-title Мощность:
                  span.order-card__meta-val  80-90 Вт
                p.order-card__meta
                  span.order-card__meta-title Рабочее поле:
                  span.order-card__meta-val  900х600 см

            .order-card__sidenav
              button.order-card__erase.order-card__erase-icon

              label.order-card__sidenav-input.radio.radio-danger(for="sklad_1")
                input.order-card__sidenav-radio#sklad_1(type="radio", name="sidenav-radio-1", checked)
                label(for="sklad_1")
                span.order-card__price
                  | 290 000 ₽
                span.order-card__price-desc
                  | со склада

              label.order-card__sidenav-input.radio.radio-danger(for="zakaz_1")
                input.order-card__sidenav-radio#zakaz_1(type="radio", name="sidenav-radio-1")
                label(for="zakaz_1")
                span.order-card__price 
                  | 270 000 ₽
                span.order-card__price-desc
                  | под заказ

              .order-card__spinner.spinner
                button.spinner__minus-btn(data-dir="dwn") -
                input.spinner__count(type="text" value="1" min="1" max="40" disabled)
                button.spinner__plus-btn(data-dir="up") +

          .order-card
            .order-card__content
              .order-card__photo-wrap
                img.order-card__photo(src="img/wattsan_6090lt.jpg", alt="WATTSAN 6090 LT.jpg", width="242", height="235")

              .order-card__info
                a.order-card__category(href="#")
                  | Лазерный станок
                h2.order-card__title
                  | Wattsan 6090 lt


                p.order-card__meta
                  span.order-card__meta-title Мощность:
                  span.order-card__meta-val  80-90 Вт
                p.order-card__meta
                  span.order-card__meta-title Рабочее поле:
                  span.order-card__meta-val  900х600 см

            .order-card__sidenav
              button.order-card__erase.order-card__erase-icon

              label.order-card__sidenav-input.radio.radio-danger(for="sklad_2")
                input.order-card__sidenav-radio#sklad_2(type="radio", name="sidenav-radio-2", checked)
                label(for="sklad_2")
                span.order-card__price
                  | 290 000 ₽
                span.order-card__price-desc
                  | со склада

              label.order-card__sidenav-input.radio.radio-danger(for="zakaz_2")
                input.order-card__sidenav-radio#zakaz_2(type="radio", name="sidenav-radio-2")
                label(for="zakaz_2")
                span.order-card__price 
                  | 270 000 ₽
                span.order-card__price-desc
                  | под заказ

              .order-card__spinner.spinner
                button.spinner__minus-btn(data-dir="dwn") -
                input.spinner__count(type="text" value="1" min="1" max="40" disabled)
                button.spinner__plus-btn(data-dir="up") +

        .cart__sidenav.cart-form.col-5
          h2.cart-form__total Итого
            span.cart-form__count 580 000 ₽

          p.cart-form__info
            | Для оформления заказа оставьте свои контактные данные и наш менеджер свяжется с вами в ближайшее время:

          input.cart-form__input(type="text", name="lname", placeholder="Фамилия")
          input.cart-form__input(type="text", name="fname", placeholder="Имя")
          input.cart-form__input(type="email", name="email", placeholder="email")
          input.cart-form__input(type="tel", name="phone", placeholder="Номер телефона")
          label.cart-form__label(for="textarea") + комментарий
          textarea#textarea.cart-form__textarea(name="text", cols="30", rows="10")
          label.cart-form__right.checkbox(for="right")
            input#right(type="checkbox", name="personal")
            label(for="right")
            | Я согласен на обработку
            a.cart-form__right-link(href="#")
              | персональных данных

          button.cart-form__btn(type="submit") Оставить заявку

          <div class="checkbox">
              <input id="checkbox1" type="checkbox">
              <label for="checkbox1">
                  Default
              </label>
          </div>
