extends templates/layout.pug

block meta
  title Catalog
  meta(name='description', content='')

//- block append head
  //- link(rel="stylesheet", href="style.min.css")

block body
  +page-header-white()
  +catalog()
  +social()
  +page-footer()













//- block append page-bottom
  //- script(src='some.js')
