extends templates/layout.pug

block meta
  title Home
  meta(name='description', content='')

//- block append head
  //- link(rel="stylesheet", href="style.min.css")

block body
  +page-header()
  +popular()
  +features()
  +map()
  +category()
  +service()
  +social()

  +page-footer()













//- block append page-bottom
  //- script(src='some.js')
