//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/page-header/page-header.pug
include blocks/page-footer/page-footer.pug
include blocks/promo/promo.pug
include blocks/popular/popular.pug
include blocks/features/features.pug
include blocks/map/map.pug
include blocks/category/category.pug
include blocks/service/service.pug
