.chips {
  display: flex;
  flex-wrap: wrap;

  &__item {
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    list-style: none;
    margin-right: 12px;
    margin-bottom: 12px;
    background-color: #f1f1f1;

    &.active {
      background-color: #555555;

      .chips__link {
        color: #ffffff;
      }
    }

    &.reset {
      background-color: transparent;
      padding: 0;
    }
  }
  &__link {
    font-size: 1.4rem;
    line-height: 28px;
    color: #2c2c2c;

    &:hover {
      color: #2c2c2c;
    }
  }
  &__count {
    font-size: 1rem;
    line-height: 17px;
    color: #535353;
    vertical-align: baseline;
    margin-left: 10px;
  }
  &__remove {
    font-size: 1.4rem;
    line-height: 17px;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
  }
  &__reset {
    font-size: 1.2rem;
    text-decoration: underline;
    line-height: 17px;
    color: $red;

    &:hover {
      color: $red;
    }
  }
}
