mixin filter()

  .filter.row
    ul.chips.col-10
      li.chips__item
        a.chips__link(href="#") дерево
        span.chips__remove x
      li.chips__item
        a.chips__link(href="#") дерево
        span.chips__remove x
      li.chips__item
        a.chips__link(href="#") дерево
        span.chips__remove x
      li.chips__item
        a.chips__link(href="#") дерево
        span.chips__remove x
      li.chips__item
        a.chips__link(href="#") дерево
        span.chips__remove x
      li.chips__item
        a.chips__link(href="#") дерево
        span.chips__remove x
      li.chips__item
        a.chips__link(href="#") дерево
        span.chips__remove x
      li.chips__item
        a.chips__link(href="#") дерево
        span.chips__remove x
      li.chips__item.reset
        a.chips__reset(href="#") сбросить параметры

    ul.sort.col-6
      li.sort__item
        a.sort__link(href="#") по новизне
      li.sort__item.active
        a.sort__link(href="#") по цене
      li.sort__item
        a.sort__link(href="#") по популярности
