mixin features()

  section.features
    .features__container.container
      .row
        .col-4
          .features__item
            svg.features__item-icon(width="20", height="20")
            h3.features__item-title
              | Быстрая доставка
            p.features__item-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, reprehenderit!

        .col-4
          .features__item
            svg.features__item-icon(width="20", height="20")
            h3.features__item-title
              | Быстрая доставка
            p.features__item-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, reprehenderit!

        .col-4
          .features__item
            svg.features__item-icon(width="20", height="20")
            h3.features__item-title
              | Быстрая доставка
            p.features__item-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, reprehenderit!

        .col-4
          .features__item
            svg.features__item-icon(width="20", height="20")
            h3.features__item-title
              | Быстрая доставка
            p.features__item-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, reprehenderit!
