mixin features()

  section.features
    .features__container.container
      .row
        .col-4
          .features__item
            i.features__item-icon.delivery-truck
            h3.features__item-title
              | Быстрая доставка
            p.features__item-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, reprehenderit!

        .col-4
          .features__item
            i.features__item-icon.delivery-truck
            h3.features__item-title
              | Быстрая доставка
            p.features__item-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, reprehenderit!

        .col-4
          .features__item
            i.features__item-icon.delivery-truck
            h3.features__item-title
              | Быстрая доставка
            p.features__item-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, reprehenderit!

        .col-4
          .features__item.active
            i.features__item-icon.delivery-truck
            h3.features__item-title
              | Быстрая доставка
            p.features__item-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, reprehenderit!
